<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Title</title>
</head>
<body >
<!--"-->
<div th:insert=" base :: baseNavBar" > </div>
<div id = "jumbotron" class="container jumbotron" >
    <div class="container">
        <h1 class="display-1 text-center title">How To JumpStart Your Car </h1>
        <ul class="list-group">
            <li class="list-group-item">Jump Your car the right way!</li>


            <li class="list-group-item list-group-item-primary">
                <p> <button type="button" class="btn btn-primary">1</button> <h6>Park the vehicles next to each other.
            </h6><br><p>Park the functioning car so that the vehicles face each other, preferably only about 18 inches apart, but never touching each other.
                For automatic transmission cars, put the vehicle in park; for a manual transmission, set the vehicle to neutral
                Set the parking brakes on both, so neither car moves unexpectedly. </p>
            </li>
            <li class="list-group-item list-group-item-secondary">
                <button type="button" class="btn btn-primary">2 </button> <h5> Both vehicles should be off. Set the parking brakes</h5>
                <p>Both cars should be turned off, with keys removed.
                    Set down the jumper cables on the ground, making sure the clamps do not touch each other. </p>
            </li>
            <li class="list-group-item list-group-item-success"> <button type="button" class="btn btn-primary">3</button> <h5> Attach one red clamp to the positive terminal on the dead battery.</h5>
                Attach the red, positive cable clamp to the positive (+) battery terminal of the dead battery. You want a solid connection to the battery terminal, which may require some initial wiggling of the clamps</li>
            <li class="list-group-item list-group-item-danger"> <button type="button" class="btn btn-primary">4</button> <h5> Attach the other red clamp to the positive terminal on the working battery. </h5>
                Attach the red, positive cable clamp on the
                other side of the jumper cables to the
                functioning vehicle’s positive (+) battery
                terminal</li>
            <li class="list-group-item list-group-item-warning"> <button type="button" class="btn btn-primary">5</button> <h5> Attach the partnered black clamp to the negative terminal on the working battery. </h5>
                Connect the black, negative cable clamp to the working battery’s negative (-) battery terminal.
            </li>
            <li class="list-group-item list-group-item-info"> <button type="button" class="btn btn-primary">6</button> <h5>Attach the partnered black clamp to a clean nut or bolt on the engine block. </h5>
                Walk over to the car with the dead battery. Do not connect the black, negative cable clamp to the dead battery. Instead, attach that clamp to an unpainted, metal part of the car such as a shiny, clean nut on the engine block. This will help ensure a safe jump.
            </li>
            <li class="list-group-item list-group-item-light"> <button type="button" class="btn btn-primary">7</button> <h5>Start the working vehicle and let it run for a few seconds. </h5>
                Start the working vehicle. Wait a minute or so. Depending on the age of the battery and how long since it died, you may need to let the car run for a minute or two to get the jump to work.
            </li>
            <li class="list-group-item list-group-item-danger"> <button type="button" class="btn btn-primary">8</button><h5> Start the dead vehicle. It should turn on.</h5>
                Try starting the dead car. If the car doesn't start, allow the working vehicle to charge the battery for an additional minute or two before attempting again.
            </li>
            <li class="list-group-item list-group-item-dark"> <button type="button" class="btn btn-primary">9</button> <h5> If it doesn’t turn on, try revving the engine of the working vehicle.</h5>
                In some instances, slightly revving the engine of the working car while charging the dead battery may help.
            </li>
            <li class="list-group-item list-group-item-success"> <button type="button" class="btn btn-primary">10</button> <h5> Disconnect the black jumper cables first, then disconnect the red ones.</h5>
                Once the dead car is running, you may disconnect the jumper cables, starting with the black, negative cable clamps. Do not let the clamps touch each other while any part of the cables is still attached to a car.
            </li>
            <li class="list-group-item list-group-item-info"> <button type="button" class="btn btn-primary">11</button> <h5> Take a short drive to help recharge the battery.  </h5>
                Now, take a short drive. This will allow the battery to build up a charge. This driving allows the vehicle’s alternator to charge the battery and ensures that your vehicle does not die again once you turn it off.
            </li>
        </ul>
    </div>

</div>






<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>